# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/frontend/build
/backend/dist

# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Debug
.debug/
debug.log 
.vercel

JWT_SECRET=your_generated_secret
